html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#root {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color:cadetblue;
}

p {
    margin: 0px;
}

a {
    margin: 10px;
}

.Absolver-app {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

.Absolver-body {
    display: flex;
    flex-grow: 1;
}

.Absolver-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.Absolver-header > h1 {
    margin: 0px;
}

.Absolver-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.Absolver-sidebar {
    display: none;
}

.Absolver-deckbuilder {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.Absolver-deckrow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.Absolver-combo {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 16px;
}

.Absolver-altmove {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 16px;
    
}

.Absolver-stance {
    width: 64px;
    height: 64px;
    background-color: blue;
}

.Absolver-move {
    width: 104px;
    height: 104px;
    background-image: url('images/ankle-stamp.png');
    background-size: contain;
    background-position-y: 10px;
}

.Absolver-combo > div {
    border: 1px solid black;
}

.Absolver-altmove > div {
    border: 1px solid black;    
}

@media only screen and (max-width: 600px) {
    .Absolver-combo {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 16px;
        max-width:318px;
        justify-content: space-between;
    }

    .Absolver-combo :nth-child(1) {
        order: 1;
    }
    .Absolver-combo :nth-child(3) {
        order: 2;
        margin-right: 17px;
    }
    .Absolver-combo :nth-child(5) {
        order: 3;
        margin-left: 17px;
    }
    .Absolver-combo :nth-child(7) {
        order: 4;
    }
    .Absolver-combo :nth-child(2) {
        order: 5;
    }
    .Absolver-combo :nth-child(4) {
        order: 6;
    }
    .Absolver-combo :nth-child(6) {
        order: 7;
    }
}

@media only screen and (max-width: 370px) {
        .Absolver-combo {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin: 16px;
            max-width: 162px;
            
        }

        .Absolver-move {
            width: 52px;
            height:52px;
        }

        .Absolver-stance {
            width: 32px;
            height: 32px;
        }
    
        .Absolver-combo :nth-child(1) {
            order: 1;
        }
        .Absolver-combo :nth-child(3) {
            order: 2;
            margin-right: 1px;
        }
        .Absolver-combo :nth-child(5) {
            order: 3;
            margin-left: 1px;
        }
        .Absolver-combo :nth-child(7) {
            order: 4;
        }
        .Absolver-combo :nth-child(2) {
            order: 5;
        }
        .Absolver-combo :nth-child(4) {
            order: 6;
        }
        .Absolver-combo :nth-child(6) {
            order: 7;
        }


}

