.Absolver-deckbuilder {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .Absolver-movechooser {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .Absolver-movelist {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    width: 100%;
    background-color:white;
    align-items: center;
  }
  
  .Absolver-movebar {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color:white;
    align-items: center;
  }

  .filter, .sort {
    margin: 10px;
  }
  
  .searchBar {
    margin-left: auto;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
  }
  
  .searchBar > input {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    border: 1px solid black;
    height: 30px;
    width: 100%;
  }
  
  .Absolver-deckrow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .Absolver-combo {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 16px;
  }
  
  .Absolver-altmove {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 16px;
    
  }
  
  .Absolver-move-parent {
    width: 104px;
    height: 104px;
    background-color: rgba(0, 0, 0);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    
  }

  .Absolver-move {
    width: 104px;
    height: 104px;
    background-color: rgba(0, 0, 0);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .Absolver-move:hover ~ .Absolver-move-delete{
    display: flex;
    transition-duration: all 0.1s;
    transform: translateY(-65px);
  }

  .Absolver-move-delete:hover {
    display: flex;
    transition-duration: all 0.1s;
    transform: translateY(-65px);
  }

  .Absolver-move-delete-hidden {
    width: 50px;
    height: 20px;
    transition-duration: all 0.1s;
  }

  .Absolver-move-delete {
    transition: transform 0.1s ease-out;
    position: absolute;
    padding: 10px;
    width: 50px;
    height: 20px;
    background-color: red;
    z-index: 0;
    transform: translateY(-30px);
  }
  
  .Absolver-move-parent > div > img{
    width: 104px;
    position:absolute;
    z-index: 1;
  }
  
  .Absolver-move-parent > div > div {
    position:absolute;
    right: 0;
    top: 0;
    color: white;
    margin: 5px;
    z-index: 1;
  }
  
  .Absolver-move-plus {
    width: 104px;
    height: 104px;
    background-color: rgba(0, 0, 0, 0.55);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 300%;
    font-weight: bolder;
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .Absolver-combo {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 16px;
        max-width:318px;
        justify-content: space-between;
    }
  
    .Absolver-combo :nth-child(1) {
        order: 1;
    }
    .Absolver-combo :nth-child(3) {
        order: 2;
        margin-right: 17px;
    }
    .Absolver-combo :nth-child(5) {
        order: 3;
        margin-left: 17px;
    }
    .Absolver-combo :nth-child(7) {
        order: 4;
    }
    .Absolver-combo :nth-child(2) {
        order: 5;
    }
    .Absolver-combo :nth-child(4) {
        order: 6;
    }
    .Absolver-combo :nth-child(6) {
        order: 7;
    }
  }
  
  @media only screen and (max-width: 370px) {
        .Absolver-combo {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin: 16px;
            max-width: 162px;
            
        }
  
        .Absolver-move {
            width: 52px;
            height:52px;
        }
  
        .Absolver-stance {
            width: 32px;
            height: 32px;
        }
    
        .Absolver-combo :nth-child(1) {
            order: 1;
        }
        .Absolver-combo :nth-child(3) {
            order: 2;
            margin-right: 1px;
        }
        .Absolver-combo :nth-child(5) {
            order: 3;
            margin-left: 1px;
        }
        .Absolver-combo :nth-child(7) {
            order: 4;
        }
        .Absolver-combo :nth-child(2) {
            order: 5;
        }
        .Absolver-combo :nth-child(4) {
            order: 6;
        }
        .Absolver-combo :nth-child(6) {
            order: 7;
        }
  
  
  }